// Comments Form
.card.my-4
  h5.card-header Leave a Comment:
  .card-body
    form(method='POST' action='/post/submit')
      .form-group
        textarea.form-control(rows='3', name="text")
      button.btn.btn-primary(type='submit') Submit