form(method='POST' action='/post/submit')
  div.form-group
    input#title.form-control(type='text', placeholder='title' name='title')
  div.form-group
    input#text.form-control(type='text', placeholder='Post whatever you want' name='text')
  div.form-group
    button(type='submit') Post!