// Blog Post
.card.mb-4
    img.card-img-top(src='http://placehold.it/750x300' alt='Card image cap')
    .card-body
        h2.card-title Post Title
        p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
        a.btn.btn-primary(href='/post/1/comments') Read More &rarr;
    .card-footer.text-muted
        | Posted on January 1, 2017 by
        a(href='#') Start Bootstrap