extends layout

block content
  a(href='/post/1/comments') Enlace temporal a post
  h1 Tagless
  p Welcome to Tagless
  include login
  h3 Posts
  include post_submit
  each post in posts
    li = post.name
  else
    li There are no posts
