extends layout_complex
block main
  //include post_submit
  each post in posts
    li = post.name
  else
    include elements/post_element
    include elements/post_element

    // Pagination
    ul.pagination.justify-content-center.mb-4
      li.page-item
        a.page-link(href='#') &larr; Older
      li.page-item.disabled
        a.page-link(href='#') Newer &rarr;