extends base/layout_complex
block main
  include elements/post_submit
  include elements/post_preview
  //include post_submit
  each post in posts
    //+post(post)
  else
    +post({'title':'Post Title',
       'text':'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!',
       'id':1,
       'date': 'Posted on January 1, 2017 by',
       'autor': {'id':'1', 'username':'Anonimous'}})
    +post({'title':'Post Title',
       'text':'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!',
       'id':1,
       'date': 'Posted on January 1, 2017 by',
       'autor': {'id':'1', 'username':'Anonimous'}})

    // Pagination
    ul.pagination.justify-content-center.mb-4
      li.page-item
        a.page-link(href='#') &larr; Older
      li.page-item.disabled
        a.page-link(href='#') Newer &rarr;