form(method='POST' action='/users/login')
  div.form-group
    input#username.form-control(type='text', placeholder='Username' name='username')
  div.form-group
    input#password.form-control(type='password', placeholder='Shhh' name='password')
  div.form-group
    button(type='submit') Login
  div
    p New to Tagless? 
      a(href='/users/signup') Sign up