extends base/layout_complex
block main
  
  h1.my-4 #{title}
  
  // Author
  p.lead
    | by
    a(href='/users/'+username)  #{username}
  hr
  // Date/Time
  p Posted on #{date}
  hr
  // Preview Image
  img.img-fluid.rounded(src='http://placehold.it/900x300' alt='')
  hr
  // Post Content
  | #{text}
  hr
  include elements/comment_submit
  
  include elements/comment
  each comment in comments
    //+comment(comment)
  else
    - var comment = {"text":"this is a comment", "autor":{"username":"Anonimous"}, "reply":[{"text":"this is a nexted coment", "autor":{"username":"Anonimous"},"reply":[]}]}
    +comment(comment)
    // Comment with nested comments

