extends ../base/layout_user

block append stylesheets
	link(href='/static/npm/datatables/media/css/jquery.dataTables.css')
	link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css")
	link(href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css")
block append script
	script(src='/static/npm/datatables/media/js/jquery.dataTables.js')
	script(src='/static/javascripts/datatable_device.js')
	script(src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js")


block main
	div.card.my-4
		h5.card-header Settings
		div.card-body
			form(method='POST' action='', encType="multipart/form-data")
				div.form-group
					label Description
					input.form-control(type='text', value=user.description, name='description')

				div.form-group
					label Change profile picture
					.custom-file
						input#input_file.custom-file-input(type='file', name="image" accept=".png, .jpg, .jpeg")
						label.custom-file-label(for='input_file') Choose file
				.form-group
					label Privacy
					select.form-control(name='privacity')
						option(value=0 selected= 0===user.privacity ) Public
						option(value=1 selected= 1===user.privacity) Only Logged
						option(value=2 selected= 2===user.privacity) Private
				hr
				button.btn.btn-secondary(type='submit') Save changes
	div.card.my-4
		h5.card-header Login Attemps
		div.card-body
			table#devices.table.table-hover
				if !devices
					tbody
						tr
							td No loggin attemps
				else
					thead
						tr
							th Date
							th Ip
							th Device
							th Loggin Success


					tbody
						each device in devices
							tr
								td #{device.date}
								td #{device.ip}
								td #{device.device}
								if device.success
									td True
								else
									td False
