extends layout
block stylesheets
    link(href='/static/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/static/stylesheets/blog-home.css', rel='stylesheet')
    link(href='/static/stylesheets/user.css', rel='stylesheet')
    link(href="/static/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet")
    //link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous")

block content
    include ../elements/navbar
    .container
        .row
            // Blog Entries Column
            .col-md-8
                block main
            include ../elements/sidebar   
    footer.py-5.bg-dark
        .container
            p.m-0.text-center.text-white Copyright &copy; Your Website 2018
        // /.container

block script
    // Bootstrap core JavaScript
    script(src='/static/javascripts/jquery.min.js')
    script(src='/static/javascripts/bootstrap.bundle.min.js')
    script(type="text/javascript").
        $(document).ready(function () {

            //No me borreis el post done y fail!
            $('.upvote.thread').click(function () {
                var thread_id = $(this).attr("data-thread-id");
                $.post("/api/vote/thread", {
                    val: $('.upvote.thread').hasClass('upvoted')? 1 : 0,
                    id: thread_id
                }).done(function (data) {
                    var karma = $("#thread-karma"+thread_id);
                    if ($('.upvote.thread').hasClass('upvoted')){
                        var value = parseInt(karma.text())-1;
                        $('.upvote.thread').removeClass('upvoted');
                    }else{
                        var value = parseInt(karma.text()) + 1;
                        $('.upvote.thread').addClass('upvoted');
                    }
                    karma.text(value);

                }).fail(function (data) {
                    alert("Error");
                });
            });

            $('.downvote.thread').click(function () {
                var thread_id = $(this).attr("data-thread-id");
                $.post("/api/vote/thread", {
                    val: $('.downvote.thread').hasClass('downvoted') ? -1 : 0,
                    id: thread_id
                }).done(function (data) {
                    var karma = $("#thread-karma" + thread_id);
                    if ($('.downvote.thread').hasClass('downvoted')) {
                        var value = parseInt(karma.text()) + 1;
                        $('.downvote.thread').removeClass('downvoted');
                    } else {
                        var value = parseInt(karma.text()) - 1;
                        $('.downvote.thread').addClass('downvoted');
                    }
                    karma.text(value);

                }).fail(function (data) {
                    alert("Error");
                });
            });

            $('.upvote.comment').click(function () {
                var comment_id = $(this).attr("data-comment-id");
                $.post("/api/vote/comment", {
                    val: $('.upvote.comment').hasClass('upvote') ? 1 : 0,
                    id: comment_id
                }).done(function (data) {
                    var karma = $("#comment-karma" + comment_id);
                    if ($('.upvote.comment').hasClass('upvote')) {
                        var value = parseInt(karma.text()) - 1;
                        $('.upvote.comment').removeClass('upvote');
                    } else {
                        var value = parseInt(karma.text()) + 1;
                        $('.upvote.comment').addClass('upvote');
                    }
                    karma.text(value);

                }).fail(function (data) {
                    alert("Error");
                });
            });

            $('.downvote.comment').click(function () {
                var comment_id = $(this).attr("data-comment-id");
                $.post("/api/vote/comment", {
                    val: $('.downvote.comment').hasClass('downvoted') ? -1 : 0,
                    id: comment_id
                }).done(function (data) {
                    var karma = $("#comment-karma" + comment_id);
                    if ($('.downvote.comment').hasClass('downvoted')) {
                        var value = parseInt(karma.text()) + 1;
                        $('.downvote.comment').removeClass('downvoted');
                    } else {
                        var value = parseInt(karma.text()) - 1;
                        $('.downvote.comment').addClass('downvoted');
                    }
                    karma.text(value);

                }).fail(function (data) {
                    alert("Error");
                });
            });
        });